.addProduct{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 440px;
    height: 200px;
}
form{
    height:200px;
}

.workArea{
    padding: 10px;
    display: inline-block;
    height: 510px;
    width: 1055px;
    border: 4px solid white;
}

p{
    margin: 10px 0;
}

textarea{
    width: 400px;
    max-height: 60px;
}

input[type=submit], #hrefBut {
    margin-top: 10px;
    display: inline-block;
    width: 200px;
    border: none;
    background: orange;
    height: 30px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=submit]:hover, #hrefBut:hover {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 700ms;
    background: #ff8917;
}

input[type=text], input[type=password],select,input[type=number] {
    margin: 5px 0;
    font-size: 22px;
    width: 400px;
    height: 30px;
}

input[type=file]{
    font-size: 20px;
}