#footer{
    margin-top: 10px;
    border: 4px solid white;
    width: 99.3%;
    height:90px;
}

#text{
    width: 600px;
    height: 80px;
    margin: 7px auto;
}

.border_td{
    border-right: 2px solid white;
    width: 300px;
}