body {
    position: absolute;
    margin: 5px;
    background: #528D8B;
    font-size: 15px;
    font-style: normal;
    color: white;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
}

a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

a:hover {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 700ms;
    color: #ff8917;
}

#menu{
    vertical-align: top;
    display: inline-block;
    margin: 0 10px 0 0;
    padding:5px;
    border: 4px solid white;
    height: 520px;
    width: 220px;
}

#menu tr{
    height: 40px;
}

#menu td{
    width: 250px;
    height: 40px;
    border-bottom: 4px solid white;
}


