.List{
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border: 2px solid white;
    width: 440px;
    height: 300px;
}

.List img{
    height: 300px;
    width: 300px;
}

.workArea{
    overflow-y: scroll;
    padding: 10px;
    display: inline-block;
    height: 510px;
    width: 79%;
    border: 4px solid white;
}

input[type=submit], #hrefBut {
    margin-top: 20px;
    display: inline-block;
    width: 140px;
    border: none;
    background: orange;
    height: 30px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=submit]:hover, #hrefBut:hover {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 700ms;
    background: #ff8917;
}