body {
    margin-top: 175px;
    background: #528D8B;
    font-size: 25px;
    font-style: normal;
    color: white;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
}


.mainBlock {
    width: 500px;
    text-align: center;
    vert-align: middle;
    margin: auto;
    top: 300px;
    padding: 30px;
    border: 5px solid white;
}

.mainBlock p{
    display: inline-block;
    margin: 10px;
}

input[type=submit]{
    margin-top: 20px;
    display: inline-block;
    width: 402px;
    border: none;
    background: orange;
    height: 40px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=submit]:hover, #hrefBut:hover {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 700ms;
    background: #ff8917;
}

input[type=text], input[type=password] {
    font-size: 22px;
    width: 355px;
    height: 30px;
}